.btn {
  padding: .65rem 1rem;
  border-radius: 5rem;
  line-height: 1.25;
  font-weight: 600;
  outline: none !important;

  i {
    margin-right: 5px;
  }

  &.flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.fit-content {
    max-width: fit-content;
  }

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  }

  &:active,
  &:active:hover {
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-color);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg);
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg);
}
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg);
}
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg);
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg);
}

a,
.btn-link {
  color: $btn-primary-bg;
  text-decoration: none;
  font-weight: 700;
}

a {
  &:hover,
  &:active:hover {
    color: darken($btn-primary-bg, 10%);
    text-decoration: none;
  }

  &:focus,
  &:active:focus {
    color: $btn-primary-bg;
    text-decoration: none;
  }
}