#page {
  padding-top: 3rem;
  min-height: 100%;
  display: flex;
  flex-flow: column wrap;

  article {
    flex: 1 0 auto;

    &.post {
      h1 {
        font-size: 32px;
      }

      .title-subtitle {
        font-size: 24px;
        color: $primary-dark-color;
      }
    }
  }

  @include below(992px) {
    padding-top: 1.5rem;
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid rgba($dark-bg-color, 0.1);
  }

  .article-header {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    + hr {
      margin-bottom: 60px;
    }
  }

  .category-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-bottom: 0;

    .cat-item {
      display: flex;
      line-height: 1.6;
      margin-right: 10px;
      margin-bottom: 10px;

      a {
        display: block;
        text-transform: uppercase;
        border-radius: 100px;
        font-size: 12px;
        font-weight: 700;
        padding: 10px 16px;
        background-color: $default-color;
        color: $primary-dark-color;
      }

      &:hover,
      &.current-cat {
        a {
          background-color: $primary-dark-color;
          color: #ffffff;
        }
      }
    }
  }

  .post-list {
    padding-top: 30px;

    .article-card {
      .card {
        margin-bottom: 30px;
      }
    }

    .card-body {
      .card-title {
        margin: 0;
      }

      p {
        margin: 0;
      }

      .pseudo-link {
        color: $text-color;

        &:hover,
        &:focus,
        &:active,
        &:active:hover,
        &:active:focus {
          color: $text-color;
        }
      }

      .btn {
        font-size: .8rem;
        margin-top: 10px;
        padding: .5rem 1rem;
      }
    }
  }

  .post-categories {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;

    li {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;

      &:after {
        content: '/';
        display: inline-block;
        margin: 0 5px;
        color: $primary-color;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .post-hero {
    position: relative;
    margin-top: -3rem;
    padding: 6rem 0;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include below(992px) {
      margin-top: -1.5rem;
    }

    .hero-screen {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($primary-dark-color, 0.7);
      z-index: 1;
    }

    .hero-content {
      position: relative;
      z-index: 2;
      color: #ffffff;

      h1 {
        font-size: 32px;
        color: #ffffff;
      }

      .title-subtitle {
        font-size: 24px;
        color: #ffffff;
      }
    }
  }

  .subtitle {
    opacity: 0.6;
  }

  .post-content {
    margin-top: 3rem;
  }

  .entry-footer {
    padding-top: 3rem;

    a {
      margin-right: 20px;
    }

    a:last-child {
      margin-right: 0;
    }

    @include above(1200px) {
      display: flex;
      flex-flow: column wrap;
      position: fixed;
      top: calc(#{$navbar-height} + 3rem);
      left: 3rem;
      z-index: 1;
      padding: 0;

      a {
        margin-right: 0;
        margin-bottom: 40px;

        &.need-help {
          max-width: fit-content;
        }
      }
  
      a:last-child {
        margin-bottom: 0;
      }
    }

    @include below(421px) {
      a {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  .pagination-holder {
    display: flex;
    justify-content: center;

    .page-item{
      .page-link {
        color: $primary-dark-color;
        background-color: $default-color;
        border-color: darken($default-color, 5%);
        box-shadow: none;
        outline: none;

        &:hover {
          background-color: lighten($default-color, 1%);
        }
      }

      &.active {
        .page-link {
          background-color: $primary-dark-color;
          color: #ffffff;
          border-color: $primary-dark-color;
        }
      }
    }
  }

  .search-result-list {
    margin-top: 4rem;

    .result-details {
      margin-bottom: 3rem;

      .search-result-title {
        font-weight: normal;
        margin: 0;
      }

      .search-result-slug {
        font-size: 14px;
        margin: 0;

        a {
          color: rgba($text-color, 0.6);
        }
      }

      .search-result-categories {
        display: flex;
        align-items: baseline;
        font-size: 14px;

        .post-categories {
          margin-left: 10px;

          li {
            text-transform: none;
          }
        }
      }
    }
  }

  .control-holder {
    margin-top: 30px;

    .btn + .btn {
      margin-left: 10px;
    }
  }

  .front-page-wrapper {
    margin-top: 2rem;

    .front-page-column {
      margin-bottom: 30px;

      .image-holder {
        text-align: center;
      }

      i {
        font-weight: bold;
        color: $primary-color;
        margin-left: 5px;
      }

      h2 {
        @include transition(color 0.2s ease-in-out);

        &:hover {
          color: $primary-color;
        }

        i {
          font-size: 20px;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: $text-color;

            @include transition(color 0.2s ease-in-out);

            &:hover {
              color: $primary-color;
            }
          }

          i {
            font-size: 12px;
          }
        }
      }
    }
  }

  .pre-requisites {
    background-color: $default-color;
    padding: 1.25rem;
    color: $primary-dark-color;
    border-radius: .5rem;
    margin-bottom: 2rem;
  }
}

.admin-bar {
  #page {
    .entry-footer {
      @include above(1200px) {
        top: calc(#{$navbar-height} + 3rem + 32px);
      }
    }
  }
}